[submodule "task-a1/todo-backend"]
	path = task-a1/todo-backend
	url = git@github.com:ianyong/todo-backend.git
	branch = master
[submodule "task-a1/todo-frontend"]
	path = task-a1/todo-frontend
	url = git@github.com:ianyong/todo-frontend.git
	branch = master
